<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <% const metaData = require('../data/meta.json') %>
    <meta name="robots" content="nosnippet">
    <meta name="keywords" content="<%= metaData.keywords %>">
    <meta name="author" content="<%= metaData.name %>">
    <meta name="description" content="<%= metaData.description %>">
    <meta property="og:description" content="<%= metaData.description %>">
    <meta property="og:type" content="website">
    <meta property="og:title" content="<%= metaData.title %>">
    <meta property="og:url" content="<%= metaData.url %>">
    <meta name="twitter:card" content="summary">
    <meta property="twitter:title" content="<%= metaData.title %>">
    <meta name="twitter:site" content="<%= metaData.twitter %>">
    <meta name="theme-color" content="<%= metaData.theme.dark %>" media="(prefers-color-scheme: dark)">
    <meta name="theme-color" content="<%= metaData.theme.light %>" media="(prefers-color-scheme: light)">
    <title><%= metaData.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="<%- require('../assets/img/main/favicon.png') %>">
    <link rel="apple-touch-icon" href="<%- require('../assets/img/main/favicon.png') %>">
    <link href="<%- htmlWebpackPlugin.files.css[0] %>" rel="stylesheet">
    <script type="text/javascript" src="<%- htmlWebpackPlugin.files.js[0] %>"></script>
</head>

<body>
    <header>
        <span class="title">uint.dev</span>
        <a href="#" class="theme-invert hide" title="Invert theme">
            <span class="theme-invert-icon"></span>
        </a>
    </header>
    <main>
        <div class="init-blk">
            <div class="splash-blk">
                <div class="splash-des">
                    &nbsp;<noscript><%= metaData.splash_msg_fallback_noscript%></noscript>&nbsp;
                </div>
            </div>
        </div>
        <section id="skills">
            <% const skillsData = require('../data/skills.json') %>
            <div class="content-title"><%= skillsData.title %></div>
            <div class="content-desc"><%= skillsData.description %></div>
            <div class="content-center">
                <div class="content-info">
                    <% skillsData.list.forEach(function(skills) { %>
                    <div class="sub-title"><%= skills.category %></div>
                    <div class="pill-container">
                        <% skills.pills.forEach(function(pill) { %>
                        <span class="pill"><%= pill.name %></span>
                        <% }); %>
                    </div>
                    <% }); %>
                </div>
            </div>
        </section>
        <section id="projects">
            <% const projectData=require('../data/projects.json') %>
            <div class="content-title"><%= projectData.metadata.title %></div>
            <div class="content-desc"><%= projectData.metadata.description %></div>
            <div class="content-info">
                <div class="sub-title"><%= projectData.active.subtitle %></div>
                <div class="sub-desc"><%= projectData.active.description %></div>
                <div class="card-container">
                    <% projectData.active.list.forEach(function(project) { %>
                    <a class="card" href="<%= project.url %>">
                        <div class="preview">
                            <span class="thumb <%= project.image %>"></span>
                        </div>
                        <div class="info">
                            <div class="name"><%= project.name %></div>
                            <div class="desc">
                                <%= project.description %>
                            </div>
                            <div class="tag-container">
                                <% project.tags.forEach(function(tag) { %>
                                <span class="tag"> <%= tag %> </span>
                                <% }); %>
                            </div>
                        </div>
                    </a>
                    <% }); %>
                </div>
                <div class="sub-title"><%= projectData.inactive.subtitle %></div>
                <div class="sub-desc"><%= projectData.inactive.description %></div>
                <div class="card-container">
                    <% projectData.inactive.list.forEach(function(project) { %>
                    <a class="card" href="<%= project.url %>">
                        <div class="preview">
                            <span class="thumb <%= project.image %>"></span>
                        </div>
                        <div class="info">
                            <div class="name"><%= project.name %></div>
                            <div class="desc">
                                <%= project.description %>
                            </div>
                            <div class="tag-container">
                                <% project.tags.forEach(function(tag) { %>
                                <span class="tag"> <%= tag %> </span>
                                <% }); %>
                            </div>
                        </div>
                    </a>
                    <% }); %>
                </div>
            </div>
        </section>
        <section id="contact">
            <% const contactData=require('../data/contact.json') %>
            <div class="content-title"><%= contactData.title %></div>
            <div class="content-desc"><%= contactData.description %></div>
            <div class="content-center">
                <div class="content-info">
                    <div class="button-container">
                        <span class="inline-shadow">
                            <% let contentDataInfo = contactData.options %>
                            <% for (let i = 0; i < contentDataInfo.length; i++) { %>
                                <% let roundedSide = [] %>
                                <% if (i === 0) { %>
                                    <% roundedSide.push('left-round') %>
                                <% } %>
                                <% if (i === (contentDataInfo.length - 1)) { %>
                                    <% roundedSide.push('right-round') %>
                                <% } %>
                                <% roundedSide = roundedSide.join(' ') %>
                                <% if (roundedSide.length > 0) { %>
                                    <% roundedSide = ' ' + roundedSide %>
                                <% } %>
                                <a href="<%= contentDataInfo[i].url %>" class="button-link<%= roundedSide %>" title="<%= contentDataInfo[i].name %>"><%= contentDataInfo[i].name %></a>
                            <% } %>
                        </span>
                    </div>
                </div>
            </div>
        </section>
        <span class="fab-scroll hide"><span class="fab-scroll-icon"></span></span>
    </main>
    <% const package = require('../../package.json') %>
    <% const generationDate = (new Date()) %>
    <% const dateYear = generationDate.getFullYear() %>
    <% const dateMonth = (generationDate.getMonth()+1).toString().padStart(2, '0') %>
    <% const dateDay = generationDate.getDate().toString().padStart(2, '0') %>
    <% const dateHours = generationDate.getHours().toString().padStart(2, '0') %>
    <% const dateMinutes = generationDate.getMinutes().toString().padStart(2, '0') %>
    <% const dateSeconds = generationDate.getSeconds().toString().padStart(2, '0') %>
    <% const buildDate = dateYear + dateMonth + dateDay + dateHours + dateMinutes + dateSeconds %>
    <footer>
        v<%= package.version %> -- Build: <%= buildDate %>
    </footer>
</body>

</html>