<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <% const meta = require('../data/meta.json') %>
    <meta name="robots" content="nosnippet">
    <meta name="keywords" content="<%= meta.keywords %>">
    <meta name="author" content="<%= meta.name %>">
    <meta name="description" content="<%= meta.description %>">
    <meta property="og:description" content="<%= meta.description %>">
    <meta property="og:type" content="website">
    <meta property="og:title" content="<%= meta.title %>">
    <meta property="og:url" content="<%= meta.url %>">
    <meta name="twitter:card" content="summary">
    <meta property="twitter:title" content="<%= meta.title %>">
    <meta name="twitter:site" content="<%= meta.twitter %>">
    <meta name="theme-color" content="<%= meta.theme.dark %>" media="(prefers-color-scheme: dark)">
    <meta name="theme-color" content="<%= meta.theme.light %>" media="(prefers-color-scheme: light)">
    <title><%= meta.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="<%- require('../assets/img/main/favicon.png') %>">
    <link rel="apple-touch-icon" href="<%- require('../assets/img/main/favicon.png') %>">
    <link href="<%- htmlWebpackPlugin.files.css[0] %>" rel="stylesheet">
    <script type="text/javascript" src="<%- htmlWebpackPlugin.files.js[0] %>"></script>
</head>

<body>
    <header>
        <a href="#" class="title" title="Title -- press to scroll to top">uint.dev</a>
        <span class="options">
            <a href="https://blog.uint.dev/" class="button-link" title="Blog">
                <span class="blog-icon"></span>
            </a>
            <a href="#" class="theme-invert hide" title="Invert theme">
                <span class="theme-invert-icon"></span>
            </a>
        </span>
    </header>
    <main>
        <div class="init-blk">
            <div class="splash-blk">
                <div class="splash-info">
                    <div class="picture"></div>
                    <div class="about">Developer &bull; Designer &bull; Security</div>
                    <div class="button-container">
                        <% const contact = require('../data/contact.json') %>
                        <% let contactEntry = contact %>
                        <% for (let i = 0; i < contactEntry.length; i++) { %>
                            <a href="<%= contactEntry[i].url %>" class="button-link" title="<%= contactEntry[i].name %>"><%= contactEntry[i].name %></a>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
        <section id="skills">
            <% const skills = require('../data/skills.json') %>
            <div class="content-title"><%= skills.title %></div>
            <div class="content-desc"><%= skills.description %></div>
            <div class="content-center">
                <div class="content-info">
                    <% skills.list.forEach(function(skillsEntry) { %>
                    <div class="sub-title"><%= skillsEntry.category %></div>
                    <div class="pill-container">
                        <% skillsEntry.pills.forEach(function(pill) { %>
                        <a href="#" class="pill" title="<%= pill.details %>"><%= pill.name %></a>
                        <% }); %>
                    </div>
                    <% }); %>
                </div>
            </div>
        </section>
        <section id="projects">
            <% const project = require('../data/projects.json') %>
            <div class="content-title"><%= project.metadata.title %></div>
            <div class="content-desc"><%= project.metadata.description %></div>
            <div class="content-info">
                <div class="sub-title"><%= project.active.subtitle %></div>
                <div class="sub-desc"><%= project.active.description %></div>
                <div class="card-container">
                    <% project.active.list.forEach(function(projectEntry) { %>
                    <a class="card" href="<%= projectEntry.url %>">
                        <div class="container">
                            <div class="preview">
                                <span class="thumb <%= projectEntry.image %>"></span>
                            </div>
                            <div class="info">
                                <div class="name"><%= projectEntry.name %></div>
                                <div class="type">
                                    <%= projectEntry.type %>
                                </div>
                            </div>
                        </div>
                        <div class="description"> <%= projectEntry.description %> </div>
                        <div class="tag-container">
                            <% projectEntry.tags.forEach(function(tag) { %>
                            <span class="tag"> <%= tag %> </span>
                            <% }); %>
                        </div>
                    </a>
                    <% }); %>
                </div>
                <div class="sub-title"><%= project.inactive.subtitle %></div>
                <div class="sub-desc"><%= project.inactive.description %></div>
                <div class="card-container">
                    <% project.inactive.list.forEach(function(projectEntry) { %>
                    <a class="card" href="<%= projectEntry.url %>">
                        <div class="container">
                            <div class="preview">
                                <span class="thumb <%= projectEntry.image %>"></span>
                            </div>
                            <div class="info">
                                <div class="name"><%= projectEntry.name %></div>
                                <div class="type">
                                    <%= projectEntry.type %>
                                </div>
                            </div>
                        </div>
                        <div class="description"> <%= projectEntry.description %> </div>
                        <div class="tag-container">
                            <% projectEntry.tags.forEach(function(tag) { %>
                            <span class="tag"> <%= tag %> </span>
                            <% }); %>
                        </div>
                    </a>
                    <% }); %>
                </div>
            </div>
        </section>
        <dialog>
            <div class="header"></div>
            <div class="body"></div>
            <a href="#" class="close">Close</a>
        </dialog>
    </main>
    <footer>
        <% // Get (shortened) commit hash %>
        <% var commitID = 'unknown_commit' %>
        <% const fs = require('fs') %>
        <% const process = require('process') %>
        <% const commitPath = process.cwd() + '/.git/FETCH_HEAD' %>
        <% try { %>
        <%     var readData = fs.readFileSync(commitPath, 'utf8') %>
        <%     commitID = readData %>
        <%     var commitIDPartial = commitID.slice(0, 7) %>
        <% } catch (e) { %>
        <%     console.error('Failed to access file:') %>
        <%     console.error(e) %>
        <% } %>
        <% // Access JSON for version %>
        <% const package = require('../../package.json') %>
        <% // Construct URL to commit on GitHub %>
        <% var commitURL = commitID.split("\x20") %>
        <% commitURL = commitURL[commitURL.length - 1] %>
        <% commitURL = commitURL.trim() %>
        <% commitFull = commitID.split("\x09")[0] %>
        <% // Output results %>
        Made with &#10084; &#8212; v<%= package.version %> &#8212; 
        <a href="<%= commitURL %>/commit/<%= commitFull %>"><%= commitIDPartial %></a>
    </footer>
</body>

</html>